<div class="bg-white rounded" style="width: 380px;">
  <span class="d-flex p-2 border-bottom border-4">
    <span class="fs-5 fw-semibold">Notification</span>
  </span>
  <div class="list-group border-bottom">
    <a href="#" class="notif list-group-item py-3">
      <div class="d-flex align-items-center justify-content-between">
        <strong class="mb-1">Graduation Project</strong>
        <small>Wed</small>
      </div>
      <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
    </a>
  </div>
</div>