{% extends "student/base.html" %}




{% block content %}
  <main class="container-fluid py-5 px-4 col-lg-12 col-xl-9">
    <section id="grad-project" class="container p-3">
      <h1 id="title">Graduation Project</h1>



      {% if form_validation %}
        <div class="alert alert-danger">{{form_validation}}</div>
      {% endif %}

      {% if insert %}
        <div class="alert alert-success">{{insert}}</div>
      {% endif %}

      {% if update %}
        <div class="alert alert-success">{{update}}</div>
      {% endif %}



      <div class="container py-2">
        <form action="{% url 'gp' %}" method="post">
          {% csrf_token %}

          <div class="container row mt-3 mb-5">
            <!-- List Of Majors -->
            <div class="col-sm-12 col-md-10 col-lg-4 mb-3">
              <div class="input-group mx-3 border-a rounded">
                <label class="input-group-text fw-bold">Department</label>
                {{form.department}}
              </div>
            </div>
            
            
            <!-- Semester -->
            <div class="col-sm-12 col-md-10 col-lg-4 mb-3">
              <div class="input-group mx-3 border-a rounded">
                <label class="input-group-text fw-bold">Semester</label>
                {{form.semester}}
              </div>
            </div>
          </div>



          <div class="container px-2 py-2">
            <h2>Students Info</h2>


            <div class="text-danger">{{valid_error}}</div>
            {% if rejected_student %}
              {% for student in rejected_student %}
                <div class="text-danger">
                  {{student.first_name}} {{student.last_name}} ({{student.username}}) is already in another team
                </div>
              {% endfor %}
            {% endif %}

            {% for stu in not_in_gp %}
              <div class="text-danger">
                {{stu.stu.first_name}} {{stu.stu.last_name}} ({{stu.stu.username}}) doesn't register in Graduation Project Course.
              </div>
            {% endfor %}

            <table class="table table-bordered table-striped mx-auto my-3 shadow-lg" style="width: 98%;">
              <thead class="table-primary">
                <th style="width: 0%;">#</th>
                <th>Full Name</th>
                <th>Student ID</th>
                <th>Major</th>
              </thead>

              <tbody class="table-group-divider">
                {% for stu in stu_team_num %}
                  <tr>
                    <th>{{forloop.counter}}</th>
                    <td><input type="text" value="" class="form-control" name="name{{forloop.counter}}" placeholder="Write Here"></td>
                    <td><input type="text" value="" class="form-control" name="id{{forloop.counter}}" placeholder="Make sure you write it correctly"></td>
                    <td><input type="text" value="" class="form-control" name="major{{forloop.counter}}" placeholder="Write Here"></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>




          <div>
            {% if student_info %}
              <table class="table table-bordered table-striped mx-auto my-5" style="width: 98%;">
                <thead class="bg-primary">
                  <th style="width: 0%;">#</th>
                  <th>Full Name</th>
                  <th>Student ID</th>
                  <th>Major</th>
                </thead>

                <tbody class="table-group-divider">
                  {% for stu in student_info %}
                    <tr>
                      <th>{{forloop.counter}}</th>
                      <td>{{stu.stu.first_name}} {{stu.stu.last_name}}</td>
                      <td>{{stu.student_id}}</td>
                      <td>{{stu.major}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>







          <div class="container px-2 py-5" id="project-info">
            <h2>Project Info</h2>


            <div class="col-sm-12 col-lg-6 mb-3 px-3 pt-3">
              <span class="fw-bold">Project Type : </span>
              <div class="form-check form-check-inline">
                <input class="form-check-input border border-1 border-primary"
                type="radio" name="project_type" id="app" value="Application" required>
                <label class="form-check-label" for="app">Application</label>
              </div>
  
              <div class="form-check form-check-inline">
                <input class="form-check-input border border-1 border-primary"
                type="radio" name="project_type" id="re" value="Research" required>
                <label class="form-check-label" for="re">Research</label>
              </div>
            </div>

            <div class="pb-3">
              <div class="row px-3">
                <div class="col-sm-12 col-lg-6">
                  <div class="input-group mb-3 ms-0 border-a rounded">
                    <span class="input-group-text fw-bold">Supervisor</span>
                    {{form.superviser_1}}
                  </div>
                </div>
  
                <div class="col-sm-12 col-lg-6 mb-3">
                  <div class="input-group ms-0 border-a rounded">
                    <span class="input-group-text fw-bold">Email</span>
                    {{form.email_1}}
                  </div>
                  <div class="text-danger">{{email_1_error}}</div>
                </div>
              </div>
  
  
              <div class="row px-3">
                <div class="col-sm-12 col-lg-6">
                  <div class="input-group ms-0 mb-3 border-a rounded">
                    <span class="input-group-text fw-bold">Supervisor</span>
                    {{form.superviser_2}}
                  </div>
                </div>
  
                <div class="col-sm-12 col-lg-6 mb-3">
                  <div class="input-group ms-0 border-a rounded">
                    <span class="input-group-text fw-bold">Email</span>
                    {{form.email_2}}
                  </div>
                  <div class="text-danger">{{email_2_error}}</div>
                </div>
              </div>
            </div>


            <div class="px-3">
              <div class="input-group mb-3 border-a rounded">
                <span class="input-group-text fw-bold">Project Name</span>
                {{form.project_name}}
              </div>

              <div class="input-group mb-3 border-a rounded">
                <span class="input-group-text fw-bold">Project Idea</span>
                {{form.project_idea}}
              </div>

              <div class="input-group mb-3 border-a rounded">
                <span class="input-group-text fw-bold">Project Goal</span>
                {{form.project_goal}}
              </div>

              <div class="input-group mb-3 border-a rounded">
                <span class="input-group-text fw-bold">Technologies</span>
                {{form.technologies}}
              </div>
            </div>
          </div>


          <div class="container mx-3">
            <input type="submit" value="Submit" class="btn btn-primary p-2 w-25">
          </div>

        </form>
      </div>

    </section>
  </main>
{% endblock content %}
