{% extends "student/base.html" %}




{% block content %}
  <main class="container-fluid py-5 px-4 col-lg-12 col-xl-9">
    <section id="grad-project" class="container p-3">
      <h1 id="title">Graduation Project</h1>


      <div class="container py-2">
        <form action="" method="post">


          <div class="container row mt-3 mb-5">
            <!-- List Of Majors -->
            <div class="col-sm-12 col-md-10 col-lg-4 mb-3">
              <div class="input-group mx-3 border-a rounded">
                <label class="input-group-text fw-bold">Department</label>
                <select class="form-select">
                  <option selected>Choose...</option>
                  <option value="CS">Computer Science</option>
                  <option value="CIS">Computer Information System</option>
                  <option value="BIT">Business Information Technology</option>
                  <option value="AI">Artificial Intelligence</option>
                  <option value="DS">Data Science</option>
                  <option value="CyS">Cyber Security</option>
                  <option value="mix">Mixed</option>
                </select>
              </div>
            </div>
    
    
            <!-- Semester -->
            <div class="col-sm-12 col-md-10 col-lg-4 mb-3">
              <div class="input-group mx-3 border-a rounded">
                <label class="input-group-text fw-bold">Semester</label>
                <select class="form-select">
                  <option selected>Choose...</option>
                  <option value="1st">First</option>
                  <option value="2nd">Second</option>
                  <option value="smr">Summer </option>
                </select>
              </div>
            </div>
          </div>








          <div class="container alert-secondary rounded py-1" id="add-stu">
            <h2>Students Info</h2>
            <div class="row alert alert-secondary rounded py-1" id="stu-info">
              <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="input-group my-2 border-a rounded">
                  <span class="input-group-text fw-bold">Full Name</span>
                  <input type="text" class="form-control" name="full-name" required>
                </div>
              </div>
    
              <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="input-group my-2 border-a rounded">
                  <span class="input-group-text fw-bold">Major</span>
                  <input type="text" class="form-control" name="major" required>
                </div>
              </div>
    
              <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="input-group my-2 border-a rounded">
                  <span class="input-group-text fw-bold">Student ID</span>
                  <input type="text" class="form-control" name="stu-id" required>
                </div>
              </div>


            </div>
          </div>



          <div class="px-3 m-3 ">
            <button type="button" class="btn btn-primary" onclick="duplicate('add-stu', 'stu-info')">New Student</button>
          </div>





          <div class="container px-2 py-5" id="project-info">
            <h2>Project Info</h2>

            <div class="row px-3 py-2">
              <div class="col-sm-12 col-lg-6">
                <div class="input-group mb-3 ms-0 border-a rounded">
                  <span class="input-group-text fw-bold" name="Superviser">Superviser</span>
                  <input type="text" class="form-control" required>
                </div>
              </div>

              <div class="col-sm-12 col-lg-6 mb-3">
                <span class="fw-bold px-2">Project Type : </span>
                <div class="form-check form-check-inline">
                  <input class="form-check-input border-a" type="radio" name="project-type" id="app" value="app" required>
                  <label class="form-check-label" for="app">Application</label>
                </div>
    
                <div class="form-check form-check-inline">
                  <input class="form-check-input border-a" type="radio" name="project-type" id="re" value="research" required>
                  <label class="form-check-label" for="re">Research</label>
                </div>
              </div>
            </div>




            <div class="px-3">
              <div class="input-group mb-3 border-a rounded">
                <span class="input-group-text fw-bold" name="Superviser">Project Name</span>
                <input type="text" class="form-control" required>
              </div>

              <div class="input-group mb-3 border-a rounded">
                <span class="input-group-text fw-bold">Project Idea</span>
                <textarea class="form-control" name="idea" style="height: 5rem;" required></textarea>
              </div>

              <div class="input-group mb-3 border-a rounded">
                <span class="input-group-text fw-bold">Project Goal</span>
                <textarea class="form-control" name="goal" style="height: 5rem;" required></textarea>
              </div>

              <div class="input-group mb-3 border-a rounded">
                <span class="input-group-text fw-bold">Technologies</span>
                <textarea class="form-control" name="tech" required></textarea>
              </div>
            </div>
          </div>


          <div class="container mx-3">
            <input type="submit" value="Submit" class="btn btn-primary p-2 w-25">
            <input type="reset" value="Clear" class="btn btn-danger p-2 w-25">
          </div>

        </form>
      </div>

    </section>
  </main>
{% endblock content %}