{% extends "student/base.html" %}



{% block content %}
  <main class="container py-5 pe-4 my-5 col-lg-12 col-xl-10">
    <h1 class="ps-5">Timeline</h1>



    <section class="container m-3">
      <div class="p-3 my-5 rounded bg-white shadow-lg">
          <h2>Create Post</h2>

        <form action="" method="get">
          <div id="label" class="my-3">
            <div class="d-inline-block">
              <input type="checkbox" class="btn-check" id="doc">
              <label class="btn btn-outline-primary py-0 px-1" for="doc">doc</label>
            </div>

            <div class="d-inline-block">
              <input type="checkbox" class="btn-check" id="new-release">
              <label class="btn btn-outline-info py-0 px-1" for="new-release">new release</label>
            </div>

            <div class="d-inline-block">
              <input type="checkbox" class="btn-check" id="final-release">
              <label class="btn btn-outline-danger py-0 px-1" for="final-release">final release</label>
            </div>

            <div class="d-inline-block">
              <input type="checkbox" class="btn-check" id="prog">
              <label class="btn btn-outline-warning py-0 px-1" for="prog">programming</label>
            </div>

            <div class="d-inline-block">
              <input type="checkbox" class="btn-check" id="research">
              <label class="btn btn-outline-primary py-0 px-1" for="research">research</label>
            </div>

            <div class="d-inline-block">
              <input type="checkbox" class="btn-check" id="update">
              <label class="btn btn-outline-secondary py-0 px-1" for="update">update</label>
            </div>
          </div>

          <div class="mb-3 w-50">
            <label for="file" class="form-labe"></label>
            <input class="form-control border-1 border-dark" type="file" id="file" multiple>
          </div>

          <div class="form-floating mb-3">
            <textarea class="form-control border-1 border-dark post" placeholder="write a post" id="post" style="height: 100px" ></textarea>
            <label for="post">Post</label>
          </div>

          <div>
            <input type="submit" value="Post" class="btn btn-primary px-3">
            <input type="reset" value="Clear" class="btn btn-danger px-3">
          </div>
        </form>

      </div>
    </section>

    <section class="container m-3">
      <div class="p-3 my-5 rounded bg-white shadow-lg" >
        <div id="head" class="fw-bold">
          <i class="bi bi-circle-fill text-success"></i>
          <span class="ps-3 pe-2">mon </span>7.3.2024
        </div>

        <div id="label" class="my-3">
          <span class="badge text-bg-secondary">update</span>
        </div>


        <div id="body" class="p-3">
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Laboriosam tenetur consequatur in cum quaerat accusantium
            exercitationem minus porro mollitia quos eveniet, doloribus sed.
          </p>
        </div>


        <div id="footer" class="mt-2 px-3">
          <span>by <b>hashim</b> at 22:32:10</span>
        </div>
      </div>

      <div class="p-3 my-5 rounded bg-white shadow-lg" >
        <div id="head" class="fw-bold">
          <i class="bi bi-circle-fill text-danger"></i>
          <span class="ps-3 pe-2">wed </span>25.2.2024
        </div>

        <div id="label" class="my-3">
          <span class="badge text-bg-info">new release</span>
          <span class="badge text-bg-warning">programming</span>
          <span class="badge text-bg-primary">doc</span>
        </div>


        <div id="body" class="px-3 py-">
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Commodi, nihil! Nam optio exercitationem
            eveniet ratione quis qui repellendus quae molestias! <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, explicabo?
          </p>
        </div>

        <div id="att" class="px-3 mb-4">
          <div class="border-start border-4 border-success rounded shadow w-50 m-2 ps-2">
            <i class="bi bi-file-text fs-1 "></i>
            <span class="pb-2">documentation.pdf</span>
          </div>
          <div class="border-start border-4 border-success rounded shadow w-50 mx-2 ps-2">
            <i class="bi bi-file-text fs-1 "></i>
            <span class="d-bloc">project-forms.docx</span><br>
          </div>
        </div>


        <div id="footer" class="my-2 px-3">
          <span>by <b>belal-shakra</b> at 22:32:10</span>
        </div>
      </div>

      <div class="p-3 my-5 rounded bg-white shadow-lg" >
        <div id="head" class="fw-bold">
          <i class="bi bi-circle-fill text-primary"></i>
          <span class="ps-3 pe-2">sun </span>15.2.2024
        </div>

        <div id="label" class="my-3">
          <span class="badge text-bg-success">add member</span>
        </div>


        <div id="body" class="p-3">
          <p class="lead">
            now belal, hashim, ayham , mohammad supervised by dr.ansar.
          </p>
        </div>


        <div id="footer" class="mt-2 px-3">
          <span>at 22:32:10</span>
        </div>
      </div>

    </section>

  </main>
{% endblock content %}