{% extends "student/base.html" %}



{% block content %}
  <main class="container-fluid py-5 px-4 mt-5 col-lg-12 col-xl-9">

    <h1 class="ps-5">Timeline</h1>

    {% if success %}
    <div class="alert alert-success">
      {{success}}
    </div>
    {% endif %}



    <section class="container m-3">
      <div class="p-3 my-5 rounded bg-white shadow-lg">
          <h2 class="fw-light">Create Post</h2>

        <form action="{% url 'timeline' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}


          <div id="label" class="my-3">
            <div class="d-inline-block">
              {{form.important}}
              <label class="btn btn-outline-danger py-0 px-1" for="important">important</label>
            </div>

            <div class="d-inline-block">
              {{form.doc}}
              <label class="btn btn-outline-primary py-0 px-1" for="doc">documentation</label>
            </div>

            <div class="d-inline-block">
              {{form.new_release}}
              <label class="btn btn-outline-info py-0 px-1" for="new_release">new release</label>
            </div>

            <div class="d-inline-block">
              {{form.final_release}}
              <label class="btn btn-outline-success py-0 px-1" for="final_release">final release</label>
            </div>

            <div class="d-inline-block">
              {{form.programming}}
              <label class="btn btn-outline-warning py-0 px-1" for="programming">programming</label>
            </div>

            <div class="d-inline-block">
              {{form.research}}
              <label class="btn btn-outline-dark py-0 px-1" for="research">research</label>
            </div>

            <div class="d-inline-block">
              {{form.update}}
              <label class="btn btn-outline-secondary py-0 px-1" for="update">update</label>
            </div>

            <div class="d-inline-block">
              {{form.web}}
              <label class="btn btn-outline-success py-0 px-1" for="web">web</label>
            </div>

            <div class="d-inline-block">
              {{form.mobile}}
              <label class="btn btn-outline-dark py-0 px-1" for="mobile">mobile</label>
            </div>

            <div class="d-inline-block">
              {{form.network}}
              <label class="btn btn-outline-primary py-0 px-1" for="network">network</label>
            </div>

            <div class="d-inline-block">
              {{form.cyber_security}}
              <label class="btn btn-outline-warning py-0 px-1" for="cyber_security">cyber security</label>
            </div>

            <div class="d-inline-block">
              {{form.ai}}
              <label class="btn btn-outline-info py-0 px-1" for="ai">ai</label>
            </div>

            <div class="d-inline-block">
              {{form.machine_learning}}
              <label class="btn btn-outline-secondary py-0 px-1" for="machine_learning">machine learning</label>
            </div>

            <div class="d-inline-block">
              {{form.problem}}
              <label class="btn btn-outline-danger py-0 px-1" for="problem">problem</label>
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-md-12 col-lg-6">
              <label for="file" class="form-labe"></label>
              <input class="form-control border-1 border-dark" type="file" id="file" multiple>
            </div>
          </div>

          <div class="form-floating mb-3">
            {{form.post}}
            <label for="post">Post</label>
          </div>

          <div>
            <input type="submit" value="Post" class="btn btn-primary px-3">
            <input type="reset" value="Clear" class="btn btn-danger px-3">
          </div>
        </form>

      </div>
    </section>

    {% for post in posts %}
      <section class="container m-3">

        <div class="p-3 my-5 rounded bg-white shadow-lg" >
          <div id="head" class="fw-bold">
            {% if post.important or post.problem %}
              <div class="spinner-grow text-danger" style="height: 20px; width: 20px;"></div>
            {% else %}
              <i class="bi bi-circle-fill text-primary"></i>
            {% endif %}
            <span class="ps-3 pe-2">{{ post.date|date:"D" }}</span> {{post.date|date:"d M Y"}}
          </div>

          <div id="label" class="my-3">
            {% if post.important %}<span class="badge text-bg-danger">important</span>{% endif %}
            {% if post.doc %}<span class="badge text-bg-primary">documaentation</span>{% endif %}
            {% if post.new_release %}<span class="badge text-bg-info">new release</span>{% endif %}
            {% if post.final_release %}<span class="badge text-bg-success">final release</span>{% endif %}
            {% if post.update %}<span class="badge text-bg-secondary">update</span>{% endif %}
            {% if post.research %}<span class="badge text-bg-dark">research</span>{% endif %}
            {% if post.programming %}<span class="badge text-bg-warning">programming</span>{% endif %}
            {% if post.web %}<span class="badge text-bg-success">web</span>{% endif %}
            {% if post.mobile %}<span class="badge text-bg-dark">mobile</span>{% endif %}
            {% if post.network %}<span class="badge text-bg-primary">network</span>{% endif %}
            {% if post.cyber_security %}<span class="badge text-bg-warning">cyber security</span>{% endif %}
            {% if post.ai %}<span class="badge text-bg-info">ai</span>{% endif %}
            {% if post.machine_learning %}<span class="badge text-bg-secondary">machine learning</span>{% endif %}
            {% if post.problem %}<span class="badge text-bg-danger">problem</span>{% endif %}
          </div>


          <div id="body" class="px-3 py-">
            <p class="lead">{{post.post}}</p>
          </div>

          {% comment %} <div id="att" class="px-3 mb-4">
            <div class="border-start border-4 border-success rounded shadow w-50 m-2 ps-2">
              <i class="bi bi-file-text fs-1 "></i>
              <span class="pb-2">documentation.pdf</span>
            </div>
            <div class="border-start border-4 border-success rounded shadow w-50 mx-2 ps-2">
              <i class="bi bi-file-text fs-1 "></i>
              <span class="d-bloc">project-forms.docx</span><br>
            </div>
          </div> {% endcomment %}


          <div id="footer" class="my-2 px-3">
            <span>by <b>{{post.publisher.stu.first_name}} {{post.publisher.stu.last_name}}</b> at {{post.date.time}}</span>
          </div>
        </div>
      </section>
    {% endfor %}

  </main>
{% endblock content %}