{% extends "department/base.html" %}



{% block content %}
  <main class="container-fluid py-5 px-4 mt-5 col-lg-12 col-xl-9">
    <h1 class="ps-3 py-4 fw-light">Team Details</h1>



    <section class="container mt-4">
      <div class="card border-primary">
        <div class="card-header bg-primary text-white h5">project's name</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Team Members</h5>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Chloe on the Turner</td>
                <td>2200017</td>
              </tr>
              <tr>
                <td>Evelyn on the Hill</td>
                <td>2200019</td>
              </tr>
              <tr>
                <td>Daniel who ate Moore</td>
                <td>2200018</td>
              </tr>
              <tr>
                <td>Michael the car Parker</td>
                <td>2200020</td>
              </tr>
            </tbody>
          </table>

          <div>
            <h5 class="card-title">Project Overview</h5>
            <p class="card-text text-black">
              The project aims to develop an innovative mobile application facilitating seamless
              communication among team members. Integrating real-time messaging, task allocation,
              and file sharing features, it fosters efficient collaboration. The app targets enhancing
              productivity and coordination within teams, streamlining workflows, and fostering a cohesive work environment.
            </p>


            <div class="pt-3 text-dark">
              <div class="border-start border-5 border-success rounded shadow w-50 m-2 ps-2">
                <i class="bi bi-file-text fs-1"></i>
                <span class="pb-2">documentation.pdf</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer bg-primary text-white">Project Status</div>
      </div>
    </section>




    <section class="container mt-4">
      <div>
        
      </div>
    </section>


  </main>
{% endblock content %}