{% extends "doctor/base.html" %}





  {% block content %}
    <main class="container-fluid py-5 px-4 mt-5 col-lg-12 col-xl-9">
      <h1 class="ps-3 py-4 fw-light">Team Details</h1>



      <section class="container mx-auto">
        <div class="py-2 pb-5 table-responsive">
          <table class="table-bordered bg-white">
            <thead>
              <th class="px-3 py-2">{{team.project_name}}</th>
              <th class="px-3 py-2">{{team.project_type}}</th>
              <th class="px-3 py-2">{{team.semester}}</th>
              <th class="px-3 py-2">{{team.department}}</th>
            </thead>
          </table>
        </div>
      </section>
  

  
      <section class="container mt-4">
        <div class="table-responsive my-4">
          <table class="table table-striped">
            <thead class="table-primary">
              <th>Project Overview</th>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td class="p-3">{{team.project_idea}}</td>
              </tr>
            </tbody>
          </table>
        </div>
  
  
        <div class="table-responsive my-4">
          <table class="table table-striped">
            <thead class="table-primary">
              <th>Project Goals</th>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td class="p-3">{{team.project_goal}}</td>
              </tr>
            </tbody>
          </table>
        </div>
  
  
        <div class="table-responsive my-4">
          <table class="table table-striped">
            <thead class="table-primary">
              <th>Project Technologies</th>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td class="p-3">{{team.technologies}}</td>
              </tr>
            </tbody>
          </table>
        </div>
  
  
  
      </section>





      <section class="container mt-5">
        <h2 class="py-4 fw-light">Project Timeline</h2>

        {% for post in posts %}
        <section class="container m-3">
  
          <div class="p-3 my-5 rounded bg-white shadow-lg" >
            <div id="head" class="fw-bold">
              {% if post.important or post.problem %}
                <div class="spinner-grow text-danger" style="height: 20px; width: 20px;"></div>
              {% else %}
                <i class="bi bi-circle-fill text-primary"></i>
              {% endif %}
              <span class="ps-3 pe-2">{{post.date.day}}</span>{{post.date.date}}
            </div>
  
            <div id="label" class="mb-3 mt-2">
              {% if post.important %}<span class="badge text-bg-danger">important</span>{% endif %}
              {% if post.doc %}<span class="badge text-bg-primary">documaentation</span>{% endif %}
              {% if post.new_release %}<span class="badge text-bg-info">new release</span>{% endif %}
              {% if post.final_release %}<span class="badge text-bg-success">final release</span>{% endif %}
              {% if post.update %}<span class="badge text-bg-secondary">update</span>{% endif %}
              {% if post.research %}<span class="badge text-bg-dark">research</span>{% endif %}
              {% if post.programming %}<span class="badge text-bg-warning">programming</span>{% endif %}
              {% if post.web %}<span class="badge text-bg-success">web</span>{% endif %}
              {% if post.mobile %}<span class="badge text-bg-dark">mobile</span>{% endif %}
              {% if post.network %}<span class="badge text-bg-danger">network</span>{% endif %}
              {% if post.cyber_security %}<span class="badge text-bg-warning">cyber security</span>{% endif %}
              {% if post.ai %}<span class="badge text-bg-info">ai</span>{% endif %}
              {% if post.machine_learning %}<span class="badge text-bg-secondary">machine learning</span>{% endif %}
              {% if post.problem %}<span class="badge text-bg-danger">problem</span>{% endif %}
            </div>
  
  
            <div id="body" class="px-3 py-">
              <p class="lead">{{post.post}}</p>
            </div>
  
            {% comment %} <div id="att" class="px-3 mb-4">
              <div class="border-start border-4 border-success rounded shadow w-50 m-2 ps-2">
                <i class="bi bi-file-text fs-1 "></i>
                <span class="pb-2">documentation.pdf</span>
              </div>
              <div class="border-start border-4 border-success rounded shadow w-50 mx-2 ps-2">
                <i class="bi bi-file-text fs-1 "></i>
                <span class="d-bloc">project-forms.docx</span><br>
              </div>
            </div> {% endcomment %}
  
  
            <div id="footer" class="my-2 px-3">
              <span>by <b>{{post.publisher.stu.first_name}} {{post.publisher.stu.last_name}}</b> at {{post.date.time}}</span>
            </div>
          </div>
        </section>
      {% endfor %}


      </section>

    </main>
  {% endblock content %}