{% extends "student/base.html" %}





{% block content %}
  <main class="container-fluid py-5 px-4 mt-5 col-lg-12 col-xl-9">
    <h1 class="ps-3">Internship - Courses</h1>


    {% if success %}
      <div class="alert alert-success mx-3"> {{success}} </div>
    {% endif %}

    {% if error %}
      <div class="alert alert-danger mx-3"> {{error}} </div>
    {% endif %}


    {% if records %}
      <section class="container py-2">
        <div class="py-2 table-responsive">
          <table class="table table-bordered border-dark">
            <thead class="table-primary">
              <tr>
                <th class="px-3 py-2" style="width: 0%;">#</th>
                <th class="px-3 py-2">Course</th>
                <th class="px-3 py-2" style="width: 0%;">Hour</th>
                <th class="px-3 py-2">Provider</th>
                <th class="px-3 py-2" colspan='2' style="width: 18%;">Certificate</th>
                <th class="px-3 py-2">Note</th>
                <th class="px-3 py-2">Update</th>
                <th class="px-3 py-2">Delete</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% for course in records %}
              <tr>
                <form action="{% url 'update_courses' course.id  %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <th class="text-center">{{forloop.counter}}</th>
                    <td class="p-1"><input type="text" value="{{course.course}}" name="course" require></td>
                    <td class="p-1"><input type="number" value="{{course.hour}}" name="hour" require></td>
                    <td class="p-1"><input type="text" value="{{course.provider}}" name="provider" require></td>
                    <td class="p-2" >
                      <a href="{% url 'download_file' course.id %}" class="d-inline-block text-truncate" style="max-width: 15rem;">{{course.certificate}}</a>
                    </td>
                    <td class="p-1" style="width: 8%;"><input type="file" name="certificate" class="form-control"></td>
                    <td class="p-1" style="width: 0%;">
                      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#note{{forloop.counter}}">
                        Click
                      </button>
                    </td>
                    <td class="p-1" style="width: 0%;"><button type="submit" class="btn btn-primary">Update</button></td>
                    <td class="p-1" style="width: 0%;"><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_m{{forloop.counter}}">Delete</button></td>
                </form>
                </tr>
                <div class="modal fade" id="delete_m{{forloop.counter}}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="title">Delete Course</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure to delete this course ?</p>
                      </div>
                      <div class="modal-footer">
                        <form action="{% url 'delete_courses' course.id %}" method="post">
                          {% csrf_token %}
                          <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Supervisor Note -->
                <div class="modal fade" id="note{{forloop.counter}}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">'{{course.course}}' Note</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {% if course.int_cor_acc %}
                          <h3>Accepted</h3>
                        {% else %}
                            <h3>Rejected</h3>
                        {% endif %}
                        <div class="py-3 px-2">{{course.doc_note}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    
    {% endif %}






    <section class="container py-2">
      
      {% if file_extensions_error %}
        <span class="text-danger">Choose from these extensions only : {{file_extensions_error}}</span>
      {% endif %}


      <form action="{% url 'courses' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="course-form">
          <div id="courses">
            <div class="my-4 alert alert-secondary rounded py-1 shadow">

              <div class="container row mt-3 mb-1">
                <div class="col-12 col-sm-12 col-md-10 col-lg-4 mb-1">
                  <div class="input-group border-a rounded">
                    <label class="input-group-text fw-bold">Course</label>
                    {{form.course}}
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-10 col-lg-4 mb-1">
                  <div class="input-group border-a rounded">
                    <label class="input-group-text fw-bold">Hours</label>
                    {{form.hour}}
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="input-group border-a rounded">
                  <label class="input-group-text fw-bold">Course Provider</label>
                  {{form.provider}}
                </div>

                <div class="my-3 border">
                  <label class="form-label fw-bold ps-2">Upload Certificate</label>
                  {{form.certificate}}
                </div>
              </div>
            </div>
          </div>
        </div>

        {{course_id}}
        <div class="container d-flex justify-content-cente">
          <input type="submit" value="Submit" class="btn btn-primary w-25">
        </div>
      </form>
    </section>














    <section id="modal">


      <div class="modal fade" id="delete_m">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="title">Delete Course</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure to delete this course ?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger">soso</button>
            </div>
          </div>
        </div>
      </div>



    </section>


  </main>
{% endblock content %}