{% extends "student/base.html" %}



  {% block content %}
    <main class="container-fluid py-5 px-4 col-lg-12 col-xl-9">
      <div class="ps-3">
        <h1>Weekly Following Form</h1>
        <p class="lead ps-3">You can submit the form more than one.</p>
      </div>




      <section class="container py-5">
        <h2>First Week</h2>

        <form action="{% url 'weekly_form' %}" method="post">
          {% csrf_token %}
          <div id="week-follow">

            <div>
              <select class="form-select mt-4 mb-2 border border-1 border-dark w-25 col-sm-12" name="student">
                <option selected>Select Student</option>
                {% for stu in stus %}
                  <option value="{{stu}}">{{stu.first_name}} {{stu.last_name}}</option>
                {% endfor %}
              </select>
            </div>

            <div id="week-info" class=" bg-secondary-subtle border border-2 border-secondary-subtle rounded">
              <div class="container row mt-3 mb-2">
                <div class="col-sm-12 col-md-10 col-lg-4 mb-1">
                  <div class="input-group border-a rounded">
                    <label class="input-group-text fw-bold">Task</label>
                    {{form.task}}
                  </div>
                </div>
    
                <div class="col-sm-12 col-md-10 col-lg-4 mb-1">
                  <div class="input-group border-a rounded">
                    <label class="input-group-text fw-bold">Hours</label>
                    {{form.hour}}
                  </div>
                </div>
              </div>
    
              <div class="container">
                <div class="input-group mb-3 border-a rounded">
                  <span class="input-group-text fw-bold">Software or <br>Hardware that used</span><br>
                  {{form.sw_hw}}
                </div>
              </div>

              <div class="container">
                <input type="text" name="week" value="First" hidden>
              </div>
            </div>
          </div>
    
          <div class="container row my-3">
            <input type="submit" value="Send" class="btn btn-primary w-25 col col-sm-12">
          </div>
        </form>



      </section>

    </main>
  {% endblock content %}