{% extends "doctor/base.html" %}




{% block content %}
  <main class="container-fluid py-5 px-4 mt-5 col-lg-12 col-xl-9">
    <div class="ps-3 py-4">
      <h1 class="fw-light">Internship Report</h1>
      <p class="lead ps-2"></p>
    </div>



    <section class="container mx-auto">
      <div class="py-2 pb-5">
        <table class="table-bordered bg-white">
          <thead>
            <th class="px-3 py-2">Belal Ali Khalil Shakra</th>
            <th class="px-3 py-2">0192452</th>
            <th class="px-3 py-2">Company</th>
            <th class="px-3 py-2">90 Hours</th>
          </thead>
        </table>
      </div>
    </section>


    <section class="container mx-auto">
      <div class="py-2 table-responsive">
        <table class="table table-bordered border-dark">
          <thead class="table-primary">
            <th class="px-3 py-2">Company</th>
            <th class="px-3 py-2">Address</th>
            <th class="px-3 py-2">Start</th>
            <th class="px-3 py-2">End</th>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <td>Bla Bla</td>
              <td>Amman/ bla bla</td>
              <td>12-Feb-2024</td>
              <td>26-May-2024</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="py-2 row">
        <div class="col-sm-12 col-lg-6 col-xl-4 mb-2">
          <div class="input-group border-a rounded">
            <span class="input-group-text fw-bold">Superviser</span>
          <input type="text" class="form-control bg-white" disabled value="Soso Fofo Momo">
          </div>
        </div>

        <div class="col-sm-12 col-lg-6 col-xl-4 mb-2">
          <div class="input-group border-a rounded">
            <span class="input-group-text fw-bold">Email</span>
          <input type="text" class="form-control bg-white" disabled value="soso@fofo.com">
          </div>
        </div>
      </div>


      <div class="py-5 table-responsive">
        <div class="table-responsive">
          <table class="table table-bordered border-dark w-100">
            <thead class="table-primary">
              <th>Description of Tasks</th>
              <th>Technologies</th>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At iure sunt obcaecati eveniet commodi illo laborum esse nobis culpa! Reiciendis!</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At iure sunt obcaecati eveniet commodi illo laborum esse nobis culpa! Reiciendis!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>



    {% comment %} 
    ! If the internship is courses, the below section will appear instead above.
    {% endcomment %}
    <!-- <section class="container mx-auto">
      <div class="py-2 table-responsive">
        <table class="table table-bordered border-dark">
          <thead class="table-primary">
            <th>#</th>
            <th class="px-3 py-2">Course</th>
            <th class="px-3 py-2">Hours</th>
            <th class="px-3 py-2">Provider</th>
            <th class="px-3 py-2">Certificate</th>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th>1</th>
              <td>Web Development</td>
              <td>75</td>
              <td>Udemy</td>
              <td><a href="">view certificate</a></td>
            </tr>
            <tr>
              <th>1</th>
              <td>MySQL</td>
              <td>18</td>
              <td>Udemy</td>
              <td><a href="">view certificate</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section> -->






    <section class="container mx-auto">
      <div>
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#dis">Approve</button>
        <button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#dis">Disapprove</button>
      </div>


      <div class="modal fade" id="dis" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Do you want to write any comment ?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'report' %}" method="get">

                <div class="mb-3">
                  <label for="msg-txt">Write Here:</label>
                  <textarea class="form-control border border-1 border-dark" id="msg-txt" name="report-msg"></textarea>
                </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" onclick="alert_msg('Are you sure to do this action for a report ?')">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>


    {% comment %} 
    ! NOTE => The commented 'section' (below this comment) will appear in web page after approve internship,
    ! otherwise it will not appear.
    {% endcomment %}
    <!--
    <section class="container py-3 mx-auto">
      <h2>Weekly Following Report</h2>


      <div class="container pt-5">
        <span class="fs-3 fw-semibold">Student Evaluation : </span>
        <span class="fs-4 "> Very Good</span>
      </div>

      <div class="container pt-2">
        <h3>First Week</h3>

        <div class="py-2 table-responsive">
          <div class="table-responsive">
            <table class="table table-bordered border-dark w-100">
              <thead class="table-primary">
                <th>Task</th>
                <th>Software and Hardware</th>
                <th>Hours</th>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <td>Lorem, ipsum dolor.</td>
                  <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, deleniti?</td>
                  <td>15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="container pt-1">
        <h3>Second Week</h3>

        <div class="py-2 table-responsive">
          <div class="table-responsive">
            <table class="table table-bordered border-dark w-100">
              <thead class="table-primary">
                <th>Task</th>
                <th>Software and Hardware</th>
                <th>Hours</th>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <td>Lorem, ipsum dolor.</td>
                  <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, deleniti?</td>
                  <td>15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="container pt-1">
        <h3>Third Week</h3>

        <div class="py-2 table-responsive">
          <div class="table-responsive">
            <table class="table table-bordered border-dark w-100">
              <thead class="table-primary">
                <th>Task</th>
                <th>Software and Hardware</th>
                <th>Hours</th>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <td>Lorem, ipsum dolor.</td>
                  <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, deleniti?</td>
                  <td>15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>




    </section>
    -->



  </main>
{% endblock content %}