{% extends "department/base.html" %}






{% block content %}
  <main class="container-fluid py-5 px-4 mt-5 col-lg-12 col-xl-9">
    <div class="ps-3 py-4">
      <h1 class="fw-light">Students in Internship</h1>
      <p class="lead ps-2"></p>
    </div>






    <section class="container mx-auto row">
      <form action="{% url 'in-internship' %}" method="post">
        {% csrf_token %}

        <div class="table-responsive p-3">
          <table class="table table-hover table-bordered shadow">
            <thead>
              <tr>
                <th>#</th>
                <th style="min-width: 8rem;">Nmae</th>
                <th>Email</th>
                <th colspan="2">Doctor</th>
                <th>Report</th>
              </tr>
            </thead>

            <tbody class="table-group-divider">
              {% for stu in stus %}
                <tr>
                  <th>{{forloop.counter}}</th>
                  <td>{{stu.stu.first_name}} {{stu.stu.last_name}}</td>
                  <td>{{stu.stu.email}}</td>
                  <td class="bg-secondary-subtle ps-3">{{stu.doc_superviser.doc.first_name}} {{stu.doc_superviser.doc.last_name}}</td>
                  <td class="bg-secondary-subtle">
                    <select class="form-select" name="{{stu}}">
                      <option selected value="None">Select Doctor</option>
                      {% for doc in docs %}
                        <option value="{{doc.doc}}">{{doc.doc.first_name}} {{doc.doc.last_name}}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td><a href="{% url 'student-report' stu.id %}">view report</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="container mb-3 d-flex flex-row-reverse row">
          <input type="submit" value="Submit" class="btn btn-primary col-sm-12 col-lg-3">
        </div>

      </form>
    </section>





  </main>
{% endblock content %}